
.signup-box{
  max-width: 900px;
  float: none;
  margin: 85px auto;
}
.login-box{
  max-width: 900px;
  float: none;
  margin: 145px auto;
}
.index-box{
  background-color: rgba(0,0,0,0.5);
  float: none;
  padding: 3rem;
  color: white;
  margin: 245px auto;
}
.buttonpos{
  text-align: center;
  padding: 1.5rem;
}
.homeh-box{
  max-width: 500px;
  float: none;
  padding: 5rem;
  margin-top: 186px;
}
.createnew-box{
  max-width: 330px;
  background-color:rgba(217,215,215,0.3);
    float:none;
    padding: 8.5rem;
    margin: 95px auto;
    
}